.image-container {
    width: 165px;
    height: 110px;
    margin: 0 auto;
}

img {
    animation: shake 2s linear infinite;
}


.thanks-container {
    display: flex;
    justify-content: center;
}

.thanks-container p {
    padding: 0.25rem 1rem;
    color: hsl(25, 97%, 53%);
    border-radius: 1rem;
    background-color: rgb(38, 47, 56);
}


@keyframes shake {
    0% {
        transform: rotate(2deg);
    }

    25% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}