.scoreRadio {
    position: relative;
}


.scoreRadio label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    /*this for prevent user copying on text of score*/
    pointer-events: none;
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    /*-------------------------------------------------*/

    transition: all 0.25s ease;
}

.scoreRadio:hover label {
    color: white
}

.scoreRadio input {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    /* background-color: var(--form-background); */
    margin: 0;
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: rgb(38, 47, 56);
    border-radius: 100%;
    cursor: pointer;

    transition: all 0.25s ease;
}

.scoreRadio:hover input {
    background-color: rgb(124, 137, 152);
}

.scoreRadio input:checked {
    background-color: hsl(25, 97%, 53%);
    animation: popping .15s linear forwards;
}

.scoreRadio input:checked~label {
    color: white;
}


@keyframes popping {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    0% {
        transform: scale(1);
    }
}